/* WEB230 Final Project - Hangman Game */

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


body {
   margin: 0;
   /* display: grid;
   grid-template-rows: 6em auto 300px 6rem 2rem;
   align-content: flex-start; */
   height: 100%;
   text-align: center;
   font-size: 2rem;
   font-family: Helvetica, Arial, sans-serif;
}

h1 {
   text-align: center;
}
.header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 10px;
}
section.timer{
   display: flex;
   justify-content: center;
   align-items: center;
}

#start{
   width: 100%;
    height: 40px;
    margin-right: 10px;
    padding: 8px 12px;
    background: greenyellow;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
}

#letters {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 1em 0;
   font-family: 'Comic Sans MS', sans-serif;
   opacity: 10%;
}
button[:disabled]{
   
}
#letters button {
   font-family: 'Comic Sans MS', sans-serif;
   margin: 5px;
   font-size: 25px;
   border: 1px solid gray;
   color: darkgreen;
   width: 2em;
   height: 2em;
   line-height: 10px;
   overflow: hidden;

}

#letters button:hover {
   background-color: palegreen;
}

#clue p {
   margin: 0;
   font-size: 3rem;
   letter-spacing: 0.5em;
   font-family: 'Comic Sans MS', sans-serif;
}

/* 
This class will grey out the letters as they are used. 
Just add the class "used".
*/
#letters button.used {
   background-color: lightgray;
   opacity: 0.5;
}

section#image {
   text-align: center;
}

/* 
Display the message when the game is over. 
Hide it at the beginning. 
*/
section#gameover p {
   text-align: center;
   font-size: 1rem;
   display: none;
}

/* WEB230 Final Project Winter 2021 */
